[Unit]
Description=pithead caddy
[Container]
ContainerName=caddy
Image=docker.io/library/caddy:2.11.4@sha256:0c994536bddb66445885237f1a5dcc1916bccea922661c76b4e9fc24061f9b52
Network=host
Volume=/opt/pithead/Caddyfile:/etc/caddy/Caddyfile:ro
Volume=pithead-caddy-data:/data
Volume=/opt/pithead/data/caddy-logs:/var/log/caddy
Tmpfs=/tmp
Tmpfs=/config
ReadOnly=true
DropCapability=all
AddCapability=NET_BIND_SERVICE
NoNewPrivileges=true
PodmanArgs=--memory 128m --memory-swap 128m
[Service]
Restart=always
[Install]
WantedBy=multi-user.target
